# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Environments
.env
venv/
ENV/

# Logs and temporary files
*.log
*.swp
*.swo
*.tmp

# IDE files
.vscode/
.idea/

# Dependency directories
/venv/
/pip/

# data
src/config.py
embeddings/
.ipynb_checkpoints/main-checkpoint.py
.gitignore
.gitignore
.gitignore
src/.ipynb_checkpoints/scraper-checkpoint.py
src/.DS_Store
